In [1]:
import pandas as pd
import numpy as np
#from bs4 import Beautifulsoup

ImportError: cannot import name 'Beautifulsoup' from 'bs4' (/opt/anaconda3/lib/python3.7/site-packages/bs4/__init__.py)

## Read Table from Wiki

In [20]:
tab=pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]
tab

,Postal code,Borough,Neighborhood
0,M1A,Not assigned,NaN
1,M2A,Not assigned,NaN
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,Regent Park / Harbourfront
...,...,...,...
175,M5Z,Not assigned,NaN
176,M6Z,Not assigned,NaN
177,M7Z,Not assigned,NaN
178,M8Z,Etobicoke,Mimico NW / The Queensway West / South of Bloo...
179,M9Z,Not assigned,NaN

## Remove Not Assigned

In [73]:
Canda_post=tab[tab['Borough']!='Not assigned'].reset_index(drop=True)
Canda_post.shape

(103, 3)

In [77]:
geo_data=pd.read_csv('https://cocl.us/Geospatial_data')
geo_data.rename(columns={'Postal Code':'Postal code'},inplace=True)
geo_data.head()

  Postal code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [80]:
canada_data=pd.merge(Canda_post,geo_data, on='Postal code')
canada_data.head()

,Postal code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,Regent Park / Harbourfront,43.654260,-79.360636
3,M6A,North York,Lawrence Manor / Lawrence Heights,43.718518,-79.464763
4,M7A,Downtown Toronto,Queen's Park / Ontario Provincial Government,43.662301,-79.389494